@media only screen and (min-width: 768px) {
  .top-bar {
    height: 50px;
    background-color: #272a31;
    margin: -8px -8px 1px -8px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  .top-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    margin-right: 130px;
  }

  .item {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    color: white;
    font-size: 18px;
  }

  .fb-logo {
    height: 22px;
    width: 22px;
    margin-left: 980px;
  }

  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(223, 215, 215, 0.3);
  }

  .mobile-menu,
  .join-mobile {
    display: none;
  }

  .logo-main {
    height: 120px;
    width: 200px;
    margin-left: -220px;
  }

  .desktop-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 60px;
  }

  .menu-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
  }

  .desktop-image {
    opacity: 0.1;
    position: absolute;
    left: 5px;
    top: 170px;
    width: 100%;
    height: 500px;
  }

  .head-image {
    position: relative;
    left: 850px;
    top: 10px;
  }

  .header-container {
    width: 100%;
    height: auto;
  }

  .explore {
    position: relative;
    top: -380px;
    margin-left: 200px;
    color: #ec5242;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
  }

  .main-heading {
    position: relative;
    top: -360px;
    margin-left: 200px;
    color: #ec5242;
    font-family: 'COCOGOOSE', sans-serif;
    font-size: 33px;
  }

  .description {
    width: 550px;
  }

  .article {
    position: relative;
    top: -360px;
    left: 200px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    color: #5d5d5d;
    font-size: 18px;
    border-style: solid;
    border-color: rgb(220, 220, 220);
    border-width: 2px;
    padding: 15px;
  }

  .down-1 {
    margin: -350px 80px 50px 270px;
    font-weight: 800;
    color: #5d5d5d;
    font-family: 'COCOGOOSE', sans-serif;
    font-size: 26px;
  }

  .down-2 {
    margin: -45px 80px 50px 270px;
    font-weight: 800;
    color: #5d5d5d;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
  }

  .features-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    height: 380px;
    width: 100%;
    margin-left: -5px;
    position: relative;
  }

  .feature-background {
    height: 500px;
    opacity: 0.9;
    position: absolute;
    left: 3px;
    top: -129px;
    width: 100%;
  }

  .feature-title {
    color: #ec5242;
    font-family: 'COCOGOOSE', sans-serif;
    font-size: 16px;
    margin-top: -10px;
  }

  .feature-icon {
    display: block;
    margin: auto;
    margin-left: 90px;
    margin-top: 15px;
  }

  .feature-text {
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    margin-top: -35px;
  }

  .feature {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 27px;
    height: 200px;
    width: 18%;
    margin-left: 35px;
    background-color: rgba(223, 215, 215, 0.3);
    top: 15px;
    left: 15px;
  }

  .feature-1 {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    height: 200px;
    width: 18%;
    background-color: rgba(223, 215, 215, 0.3);
    top: 15px;
    left: 340px;
  }

  .feature-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 22px;
    height: 200px;
    width: 18%;
    position: absolute;
    background-color: rgba(223, 215, 215, 0.3);
    top: 15px;
    left: 630px;
  }

  .feature-3 {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
    height: 200px;
    width: 18%;
    background-color: rgba(223, 215, 215, 0.3);
    top: 15px;
    left: 920px;
    right: 30px;
  }

  .feature-4 {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 22px;
    height: 200px;
    width: 18%;
    background-color: rgba(223, 215, 215, 0.3);
    top: 15px;
    left: 1210px;
    right: 30px;
  }

  #features {
    color: white;
    font-family: 'COCOGOOSE', sans-serif;
    position: absolute;
    top: -130px;
    left: 650px;
  }

  .partner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
    width: 100%;
    background-color: #272a31;
    margin: -9px 1px 2px -5px;
  }

  #partners {
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 26px;
  }

  .logo-1,
  .logo-2,
  .logo-3,
  .logo-4 {
    height: 180px;
    width: 240px;
  }

  .logo-5 {
    margin-top: 30px;
    margin-left: 350px;
    height: 100px;
    width: 150px;
  }

  .footer-text {
    margin-top: -70px;
    margin-left: 520px;
    font-family: 'Lato', sans-serif;
  }

  #speaker-container {
    position: relative;
    width: 100%;
    height: 950px;
  }

  .clients {
    text-align: center;
    color: black;
    font-family: 'COCOGOOSE', sans-serif;
    font-size: 28px;
  }

  .clients-image-1 {
    position: absolute;
    top: 150px;
    left: 170px;
    height: 150px;
    width: 150px;
  }

  .background1 {
    height: 100px;
    width: 100px;
    margin-left: 120px;
    margin-top: 50px;
  }

  .clients-name-1 {
    position: absolute;
    top: 135px;
    left: 350px;
    font-family: 'COCOGOOSE', sans-serif;
    font-weight: 400;
    color: #5d5d5d;
    font-size: 20px;
  }

  .clients-pro-1 {
    position: absolute;
    top: 180px;
    left: 354px;
    color: #ec5242;
    font-family: 'Lato', sans-serif;
    font-style: italic;
  }

  .clients-review-1 {
    position: absolute;
    top: 225px;
    left: 350px;
    text-align: center;
    height: 150px;
    width: 250px;
    font-family: 'COCOGOOSE', sans-serif;
    color: #5d5d5d;
    font-size: 12px;
    font-weight: 100;
  }

  .clients-image-2 {
    height: 150px;
    width: 150px;
    position: absolute;
    left: 750px;
    top: 150px;
  }

  .background2 {
    height: 100px;
    width: 100px;
    margin-left: 500px;
  }

  .clients-name-2 {
    position: absolute;
    top: 130px;
    left: 930px;
    font-family: 'COCOGOOSE', sans-serif;
    font-weight: 400;
    color: #5d5d5d;
    font-size: 20px;
  }

  .clients-pro-2 {
    position: absolute;
    top: 180px;
    left: 930px;
    color: #ec5242;
    font-family: 'Lato', sans-serif;
    font-style: italic;
  }

  .clients-review-2 {
    position: absolute;
    top: 225px;
    left: 925px;
    text-align: center;
    height: 150px;
    width: 250px;
    font-family: 'COCOGOOSE', sans-serif;
    color: #5d5d5d;
    font-size: 12px;
    font-weight: 100;
  }

  .clients-image-3 {
    height: 150px;
    width: 150px;
    position: absolute;
    top: 430px;
    left: 170px;
  }

  .background3 {
    height: 100px;
    width: 100px;
    margin-left: -100px;
    margin-top: 180px;
  }

  .clients-name-3 {
    position: absolute;
    left: 360px;
    top: 420px;
    font-family: 'COCOGOOSE', sans-serif;
    font-weight: 400;
    color: #5d5d5d;
    font-size: 20px;
  }

  .clients-pro-3 {
    position: absolute;
    top: 460px;
    left: 360px;
    color: #ec5242;
    font-family: 'Lato', sans-serif;
    font-style: italic;
  }

  .clients-review-3 {
    position: absolute;
    top: 510px;
    left: 355px;
    text-align: center;
    height: 150px;
    width: 250px;
    font-family: 'COCOGOOSE', sans-serif;
    color: #5d5d5d;
    font-size: 12px;
    font-weight: 100;
  }

  .clients-image-4 {
    height: 150px;
    width: 150px;
    position: absolute;
    top: 432px;
    left: 760px;
  }

  .background4 {
    height: 100px;
    width: 100px;
    margin-left: 500px;
  }

  .clients-name-4 {
    position: absolute;
    top: 425px;
    left: 935px;
    font-family: 'COCOGOOSE', sans-serif;
    font-weight: 400;
    color: #5d5d5d;
    font-size: 20px;
  }

  .clients-pro-4 {
    position: absolute;
    top: 470px;
    left: 935px;
    color: #ec5242;
    font-family: 'Lato', sans-serif;
    font-style: italic;
  }

  .clients-review-4 {
    position: absolute;
    top: 510px;
    left: 935px;
    text-align: center;
    height: 150px;
    width: 250px;
    font-family: 'COCOGOOSE', sans-serif;
    color: #5d5d5d;
    font-size: 12px;
    font-weight: 100;
  }

  .clients-image-5 {
    height: 150px;
    width: 150px;
    position: absolute;
    left: 170px;
    top: 700px;
  }

  .background5 {
    height: 100px;
    width: 100px;
    float: left;
    margin-left: 130px;
    margin-top: 430px;
  }

  .clients-name-5 {
    position: absolute;
    left: 350px;
    top: 685px;
    font-family: 'COCOGOOSE', sans-serif;
    font-weight: 400;
    color: #5d5d5d;
    font-size: 20px;
  }

  .clients-pro-5 {
    position: absolute;
    top: 730px;
    left: 350px;
    color: #ec5242;
    font-family: 'Lato', sans-serif;
    font-style: italic;
  }

  .clients-review-5 {
    position: absolute;
    top: 780px;
    left: 350px;
    text-align: center;
    height: 150px;
    width: 250px;
    font-family: 'COCOGOOSE', sans-serif;
    color: #5d5d5d;
    font-size: 12px;
    font-weight: 100;
  }

  .clients-image-6 {
    height: 150px;
    width: 150px;
    position: absolute;
    left: 770px;
    top: 700px;
  }

  .background6 {
    height: 100px;
    width: 100px;
    float: right;
    margin-right: 730px;
    margin-top: 150px;
  }

  .clients-name-6 {
    position: absolute;
    left: 950px;
    top: 680px;
    font-family: 'COCOGOOSE', sans-serif;
    font-weight: 400;
    color: #5d5d5d;
    font-size: 20px;
  }

  .clients-pro-6 {
    position: absolute;
    top: 725px;
    left: 950px;
    color: #ec5242;
    font-family: 'Lato', sans-serif;
    font-style: italic;
  }

  .clients-review-6 {
    position: absolute;
    top: 780px;
    left: 945px;
    text-align: center;
    height: 150px;
    width: 250px;
    font-family: 'COCOGOOSE', sans-serif;
    color: #5d5d5d;
    font-size: 12px;
    font-weight: 100;
  }

  .reveal,
  #more-content,
  .mobile-footer {
    display: none;
  }

  #more-content {
    visibility: hidden;
  }

  .app {
    position: absolute;
    margin-top: 250px;
    margin-left: 650px;
    font-family: 'COCOGOOSE', sans-serif;
    font-size: 16px;
    color: white;
  }

  .app:visited {
    color: white;
  }

  .app:hover {
    color: #fff;
  }

  .get {
    position: absolute;
    margin-top: 280px;
    margin-left: 580px;
    color: white;
    width: 450px;
  }
}
