@media only screen and (max-width: 768px) {
  .top-bar,
  #logo,
  .desktop-menu,
  .desktop-image {
    display: none;
  }

  .mitem {
    margin-top: 30px;
  }

  .main-container {
    margin-top: 100px;
    overflow: hidden;
    position: relative;
  }

  .head-image {
    opacity: 0.2;
    position: absolute;
    left: 5px;
    top: -20px;
    width: 100%;
    height: 300px;
  }

  .header-container {
    width: 100%;
    height: auto;
  }

  .explore {
    margin-left: 30px;
    color: #ec5242;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
  }

  .main-heading {
    margin-left: 30px;
    color: #ec5242;
    font-family: 'COCOGOOSE', sans-serif;
    font-size: 33px;
  }

  .description {
    border-style: solid;
    border-color: gainsboro;
    border-width: 2px;
    padding: 5px;
  }

  .article {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    color: black;
    font-size: 18px;
  }

  .download-link {
    margin: 15px 80px 2px 80px;
  }

  .features-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    height: 680px;
    width: 100%;
    margin-left: -5px;
    position: relative;
  }

  .feature-background {
    height: 800px;
    opacity: 0.9;
    position: absolute;
    left: 3px;
    top: 20px;
    width: 100%;
  }

  .feature-title {
    color: #ec5242;
    font-family: 'COCOGOOSE', sans-serif;
    font-size: 16px;
  }

  .feature-icon {
    display: block;
    margin: auto;
    margin-left: 8px;
  }

  .feature-text {
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
  }

  .feature {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 27px;
    height: 100px;
    width: 93%;
    margin-left: 35px;
    background-color: rgba(223, 215, 215, 0.3);
    top: 100px;
    left: -10px;
    right: 30px;
  }

  .feature-1 {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    height: 100px;
    width: 93%;
    background-color: rgba(223, 215, 215, 0.3);
    top: 220px;
    left: 25px;
    right: 30px;
  }

  .feature-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 22px;
    height: 100px;
    width: 93%;
    position: absolute;
    background-color: rgba(223, 215, 215, 0.3);
    top: 340px;
    left: 25px;
    right: 30px;
  }

  .feature-3 {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
    height: 100px;
    width: 93%;
    background-color: rgba(223, 215, 215, 0.3);
    top: 460px;
    left: 25px;
    right: 30px;
  }

  .feature-4 {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 22px;
    height: 100px;
    width: 93%;
    background-color: rgba(223, 215, 215, 0.3);
    top: 580px;
    left: 25px;
    right: 30px;
  }

  #features {
    color: white;
    font-family: 'COCOGOOSE', sans-serif;
    position: absolute;
    top: 10px;
  }

  .join-mobile {
    position: absolute;
    top: 720px;
    left: 130px;
    right: 50px;
    background-color: #ec5242;
    width: 250px;
    height: 65px;
    color: white;
    font-family: 'Lato', sans-serif;
    border: none;
    font-size: 20px;
  }

  .partner-container {
    display: none;
  }

  .logo-5 {
    margin-top: 150px;
    height: 100px;
    width: 150px;
  }

  .footer-text {
    margin-top: -80px;
    margin-left: 180px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
  }

  #speaker-container {
    position: relative;
    height: 600px;
    overflow: hidden;
    width: 100%;
    margin-top: 180px;
  }

  .clients {
    text-align: center;
    color: black;
    font-family: 'COCOGOOSE', sans-serif;
    font-size: 28px;
  }

  .clients-image-1 {
    position: absolute;
    height: 180px;
    width: 400px;
    top: 160px;
    left: -70px;
    background-image: url('../images/chekered.jpg');
    background-position: center top;
    background-clip: border-box;
    background-size: 155px 120px;
    background-repeat: no-repeat;
  }

  .clients-name-1 {
    position: absolute;
    top: 160px;
    left: 270px;
    font-family: 'COCOGOOSE', sans-serif;
    font-weight: 900;
    font-size: 20px;
  }

  .clients-pro-1 {
    position: absolute;
    top: 200px;
    left: 270px;
    color: #ec5242;
    font-family: 'Lato', sans-serif;
  }

  .clients-review-1 {
    position: absolute;
    top: 240px;
    left: 255px;
    text-align: center;
    height: 150px;
    width: 210px;
    font-family: 'Lato', sans-serif;
  }

  .clients-image-2 {
    position: absolute;
    top: 380px;
    left: 10px;
    background-image: url('../images/chekered.jpg');
    background-position: center top;
    background-clip: border-box;
    background-size: 155px 120px;
    background-repeat: no-repeat;
  }

  .clients-name-2 {
    position: absolute;
    top: 380px;
    left: 240px;
    font-family: 'COCOGOOSE', sans-serif;
    font-weight: 900;
    font-size: 20px;
  }

  .clients-pro-2 {
    position: absolute;
    top: 420px;
    left: 240px;
    color: #ec5242;
    font-family: 'Lato', sans-serif;
  }

  .clients-review-2 {
    position: absolute;
    top: 460px;
    left: 235px;
    text-align: center;
    height: 150px;
    width: 220px;
    font-family: 'Lato', sans-serif;
  }

  .clients-image-3 {
    height: 200px;
    background-image: url('../images/chekered.jpg');
    background-position: center top;
    background-clip: border-box;
    background-size: 155px 120px;
    background-repeat: no-repeat;
  }

  .clients-name-3 {
    font-family: 'COCOGOOSE', sans-serif;
    font-weight: 900;
    font-size: 20px;
    margin-top: -170px;
    margin-left: 240px;
  }

  .clients-pro-3 {
    margin-left: 240px;
    color: #ec5242;
    font-family: 'Lato', sans-serif;
  }

  .clients-review-3 {
    margin-left: 200px;
    text-align: center;
    height: 150px;
    width: 220px;
    font-family: 'Lato', sans-serif;
  }

  .clients-image-4 {
    width: 400px;
    height: 200px;
    margin-left: -120px;
    background-image: url('../images/chekered.jpg');
    background-position: center top;
    background-clip: border-box;
    background-size: 155px 120px;
    background-repeat: no-repeat;
  }

  .clients-name-4 {
    margin-left: 240px;
    margin-top: -180px;
    font-family: 'COCOGOOSE', sans-serif;
    font-weight: 900;
    font-size: 20px;
  }

  .clients-pro-4 {
    margin-left: 240px;
    color: #ec5242;
    font-family: 'Lato', sans-serif;
  }

  .clients-review-4 {
    margin-left: 220px;
    text-align: center;
    height: 150px;
    width: 220px;
    font-family: 'Lato', sans-serif;
  }

  .clients-image-5 {
    background-image: url('../images/chekered.jpg');
    background-position: left top;
    background-clip: border-box;
    background-size: 155px 120px;
    background-repeat: no-repeat;
  }

  .clients-name-5 {
    margin-left: 240px;
    margin-top: -180px;
    font-family: 'COCOGOOSE', sans-serif;
    font-weight: 900;
    font-size: 20px;
  }

  .clients-pro-5 {
    margin-left: 240px;
    color: #ec5242;
    font-family: 'Lato', sans-serif;
  }

  .clients-review-5 {
    margin-left: 240px;
    text-align: center;
    height: 150px;
    width: 220px;
    font-family: 'Lato', sans-serif;
  }

  .clients-image-6 {
    height: 200px;
    background-image: url('../images/chekered.jpg');
    background-position: center top;
    background-clip: border-box;
    background-size: 155px 120px;
    background-repeat: no-repeat;
  }

  .clients-name-6 {
    margin-left: 240px;
    margin-top: -180px;
    font-family: 'COCOGOOSE', sans-serif;
    font-weight: 900;
    font-size: 20px;
  }

  .clients-pro-6 {
    margin-left: 240px;
    color: #ec5242;
    font-family: 'Lato', sans-serif;
  }

  .clients-review-6 {
    margin-left: 220px;
    text-align: center;
    height: 150px;
    width: 220px;
    font-family: 'Lato', sans-serif;
  }

  .desktop-data,
  .desktop-footer {
    display: none;
  }

  #more-content {
    display: none;
    width: 100%;
    margin-top: 80px;
  }

  .mobile-footer {
    margin-top: -190px;
  }

  .reveal {
    position: relative;
    top: 50px;
    left: 40px;
    width: 85%;
    height: 60px;
    background-color: white;
    font-family: 'COCOGOOSE', sans-serif;
    font-size: 14px;
    border-radius: 2px;
    border-color: #d3d3d3;
  }
}
